# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JB_IDEA\binarySearch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
